[rhel-7-server-rpms]
name=Red Hat Enterprise Linux 7
baseurl=http://{{ openshift_repository_ip }}/rhel-7-server-rpms
enabled=1
gpgcheck=0

[rhel-7-server-extras-rpms]
name=Red Hat Enterprise Linux 7 Extras
baseurl=http://{{ openshift_repository_ip }}/rhel-7-server-extras-rpms
enabled=1
gpgcheck=0

[rhel-7-server-ose-3.11-rpms]
name=Red Hat Enterprise Linux 7 OSE 3.11
baseurl=http://{{ openshift_repository_ip }}/rhel-7-server-ose-3.11-rpms
enabled=1
gpgcheck=0

[rhel-7-server-ansible-2.6-rpms]
name=Red Hat Ansible 2.6
baseurl=http://{{ openshift_repository_ip }}/rhel-7-server-ansible-2.6-rpms
enabled=1
gpgcheck=0
